[submodule "resources/sandkit-surface-map"]
	path = resources/sandkit-surface-map
	url = https://github.com/udkx/sandkit-surface-map.git
[submodule "resources/sandustry-modding-types"]
	path = resources/sandustry-modding-types
	url = https://github.com/flamableassassin/sandustry-modding-types.git
[submodule "resources/SandustryModTemplate"]
	path = resources/SandustryModTemplate
	url = https://github.com/sandustry-modding/SandustryModTemplate.git
[submodule "resources/SandLoader-Mods"]
	path = resources/SandLoader-Mods
	url = https://github.com/LopeKinz/SandLoader-Mods
